<head>
  <link href="../node_modules/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="max-w-max">
  <div class="bg-white rounded-3xl">
    <div class="p-6 rounded-t-3xl mx-auto bg-shaker text-gray-50">
      <div class="flex items-center">
        <img src="./shaker-logo.png" class="h-12 mr-4" />
        <h1 class="text-3xl text-white m-0">Shaker In-Person Schedule</h1>
      </div>
    </div>
    <div class="p-2 pb-2 text-2xl mx-auto">
      <div class="text-gray-400">
        <p>
          <span class="w-48 text-black text-right font-bold mr-3 inline-block">Group</span>
          <span class="{{#ifEquals group "a"}}text-purple-800 font-bold{{/ifEquals}} ml-2">A</span>
          <span class="{{#ifEquals group "b"}}text-blue-700 font-bold{{/ifEquals}} ml-2">B</span>
          <span class="{{#ifEquals group "v"}}text-green-700 font-bold{{/ifEquals}} ml-2">Virtual</span>
        </p>
        <p>
          <span class="w-48 text-black text-right font-bold mr-3 inline-block">5<sup>th</sup> Period Lunch</span>
          <span class="{{#ifEquals lunch5 "x"}}text-red-600 font-bold{{/ifEquals}} ml-2">X</span>
          <span class="{{#ifEquals lunch5 "y"}}text-orange-600 font-bold{{/ifEquals}} ml-2">Y</span>
          <span class="{{#ifEquals lunch5 "z"}}text-yellow-600 font-bold{{/ifEquals}} ml-2">Z</span>
        </p>
        <p>
          <span class="w-48 text-black text-right font-bold mr-3 inline-block">6<sup>th</sup> Period Lunch</span>
          <span class="{{#ifEquals lunch6 "x"}}text-red-600 font-bold{{/ifEquals}} ml-2">X</span>
          <span class="{{#ifEquals lunch6 "y"}}text-orange-600 font-bold{{/ifEquals}} ml-2">Y</span>
          <span class="{{#ifEquals lunch6 "z"}}text-yellow-600 font-bold{{/ifEquals}} ml-2">Z</span>
        </p>
      </div>
      <div class="flex flex-col items-center mt-2">
        <svg width="24" height="14" viewBox="5 8 14 8" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
          <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
        <p class="text-base leading-none mt-1">Swipe up to see your schedule</p>
      </div>
    </div>
  </div>
</div>
</body>

<style>
.bg-shaker {
  background: #c61a30;
}

.text-orange-600 {
  color: #EA580C;
}

@font-face {
  font-family: 'Cantarell';
  src: local('Cantarell'), url('../cantarell/Cantarell-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cantarell';
  src: local('Cantarell Bold'), url('../cantarell/Cantarell-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body, html {
  height: max-content;
  width: max-content;
  font-family: 'Cantarell';
}
</style>
