@font-face {
	font-family: 'Cantarell';
	src: local('Cantarell Regular'), url('./cantarell/Cantarell-Regular.woff2') format('woff2'),
	url('./cantarell/Cantarell-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cantarell';
	src: local('Cantarell Bold'), url('./cantarell/Cantarell-Bold.woff2') format('woff2'),
	url('./cantarell/Cantarell-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

html, body {
	height: 100%;
	background: theme('colors.ui.background');
	color: theme('colors.ui.text');
}

$primary: #409EFF;
:root {
	--color-ui-background: theme('colors.white');
	--color-ui-emph: theme('colors.gray.800');
	--color-ui-text: theme('colors.gray.700');
	--color-ui-text-inv: theme('colors.gray.100');
	--color-ui-sidebar: theme('colors.gray.200');
	--color-ui-border: theme('colors.gray.300');
	--color-ui-primary: #{$primary};
	--color-code-highlight: #{lighten($primary, 31%)};
}

@import "./material-light";

html.dark {
	--color-ui-background: theme('colors.gray.900');
	--color-ui-emph: theme('colors.white');
	--color-ui-text: theme('colors.gray.100');
	--color-ui-text-inv: theme('colors.gray.900');
	--color-ui-sidebar: theme('colors.gray.800');
	--color-ui-border: theme('colors.gray.700');
	--color-ui-primary: #{$primary};
	--color-code-highlight: #{darken($primary, 40%)};

	@import "./material-dark";
}

.gridsome-highlight {
	margin: .5em 0;
	overflow: auto;

	pre[class*="language-"]::before {
		@apply bg-ui-primary text-ui-text-inv;
		border-radius: 0 0 .25rem .25rem;
		font-size: 12px;
		letter-spacing: .025rem;
		padding: .1rem .5rem;
		position: absolute;
		left: 3rem;
		text-align: right;
		text-transform: uppercase;
		top: 0;
	}

	pre[class~=language-js]:before {
		content: "js";
	}

	pre[class~=language-html]:before {
		content: "html";
	}

	pre[class~=language-markdown]:before,
	pre[class~=language-md]:before {
		content: "md"
	}

	pre[class~=language-bash]:before {
		content: "bash"
	}

	pre[class~=language-rust]:before {
		content: "rust"
	}

	pre[class~=language-shell]:before {
		content: "shell"
	}

	pre[class~=language-css]:before {
		content: "css"
	}

	pre[class~=language-jsx]:before {
		content: "jsx"
	}

	pre[class~=language-json]:before {
		content: "json"
	}

	pre[class~=language-graphql]:before {
		content: "graphql"
	}

	pre[class*="language-"] {
		padding-top: 30px !important;
		padding-left: 4.8em !important;
	}

	.line-numbers-rows {
		padding-left: 1em;
		width: auto !important;
		text-align: right;
		top: 30px;

		span::before {
			padding-right: .8em !important;
		}
	}

	.gridsome-highlight-code-line {
		background-color: var(--color-code-highlight);
		display: block;
		margin-right: -1em;
		margin-left: -1.5em;
		padding-right: 1em;
		padding-left: 1.25em;
		border-left: .25em solid var(--color-ui-primary);
	}
}

* {
	transition-property: color, background-color, border-color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

p a {
	@apply border-b-2 text-ui-primary border-ui-border;
	&:hover {
		@apply border-ui-primary;
	}
}

h1,
h2,
h3,
h4 {
	@apply leading-snug font-bold mb-4 text-ui-text;
	&:hover {
		a::before {
			@apply opacity-100;
		}
	}

	a {
		&::before {
			content: "#";
			margin-left: -1em;
			padding-right: 1em;
			@apply text-ui-primary absolute opacity-0 float-left;
		}
	}
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

h4 {
	@apply text-lg;
}
